<ion-header>
    <ion-toolbar color="task">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{task.label}}
        </ion-title>
        

    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button color="task" size="small">
            <ion-icon name="more"></ion-icon>

        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color="danger" (click)="deleteModal()">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>

        </ion-fab-list>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [disabled]="!isReadyToSave" (click)="save()" color="task">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Nom</ion-label>

                <ion-icon slot="start" *ngIf="task.done" name="checkbox-outline"></ion-icon>
                <ion-icon slot="start" *ngIf="!task.done" name="square-outline"></ion-icon>
                <ion-input type="text" name="label" formControlName="label"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Description</ion-label>
                <ion-icon slot="start" name="paper"></ion-icon>
                <ion-textarea auto-grow="true" rows="2" name="description" formControlName="description"></ion-textarea>
            </ion-item>
            <ion-item hidden="true">
                <ion-label>Faite</ion-label>
                <ion-checkbox formControlName="done"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Echéance</ion-label>
                <ion-icon slot="start" name="calendar"></ion-icon>
                <ion-datetime displayFormat="DD MMM YYYY" formControlName="dueDate" id="field_dueDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Priorité</ion-label>
                <ion-icon slot="start" [color]="getPriorityColor()" name="flag"></ion-icon>
                <ion-button shape="round" slot="end" size="small" color="primary" (click)="choosePriority()">
                    <ion-icon name="flag"></ion-icon>
                </ion-button>


            </ion-item>
            <ion-item>
                <ion-label>Acteurs</ion-label>
                <ion-icon slot="start" name="contacts"></ion-icon>

                <ion-button shape="round" slot="end" size="small" color="primary" (click)="chooseProfile()">
                    <ion-popover-controller></ion-popover-controller>
                    <ion-icon name="create"></ion-icon>
                </ion-button>
            </ion-item>
            <ion-item>
                <p>
                    <ion-chip *ngFor="let owner of task.owners; trackBy: trackProfilById">
                        <mha-profil-data-avatar [profilDataId]="owner.profilDataId"></mha-profil-data-avatar>
                        <ion-label>{{owner.displayName}}</ion-label>
                    </ion-chip>
                </p>
            </ion-item>
        </ion-list>
    </form>
</ion-content>