<!-- <ion-item-sliding   #slidingItem>
    <ion-item (click)="openTask(slidingItem)">
        <ion-checkbox (click)="updateTask()" [(ngModel)]="task.done" slot="start">
        </ion-checkbox>
        <div >
        <ion-label >
            <h2>{{task.label}}</h2>
            <p>
                <ion-icon size="small" name="flag" [color]="getPriorityColor()"></ion-icon>
                <ng-template [ngIf]="task.dueDate">
                    <ion-icon size="small" name="calendar" color="dark"></ion-icon>
                    {{task.dueDate | date:'mediumDate'}}
                </ng-template>
            </p>
        </ion-label>
    </div>
        <span class="span-avatar" *ngFor="let owner of task.owners; let last = last" slot="end">
                <mha-profil-data-avatar [profilDataId]="owner.profilDataId"></mha-profil-data-avatar>
        </span>

    </ion-item>
    <ion-item-options side="end">
        <ion-item-option color="light" (click)="openTask(slidingItem)">
            <ion-icon color="primary" name="create" size="large"></ion-icon>
        </ion-item-option>
    </ion-item-options>
</ion-item-sliding> -->
<ion-item class="ion-no-padding ion-no-margin">
    <ion-grid class="ion-no-padding ion-no-margin, task">
        <ion-row class="ion-no-padding ion-no-margin ion-align-items-center">
            <ion-col size="1" class="ion-no-padding ion-no-margin">
                <ion-checkbox (ionChange)="updateTask()" [(ngModel)]="task.done"></ion-checkbox>
            </ion-col>
            <ion-col size="11" class="ion-no-padding ion-no-margin">
                <ion-item lines="none" (click)="openTask()" button class="ion-no-padding ion-no-margin">
                    <ion-grid class="ion-no-padding ion-no-margin, task">
                        <ion-row class="ion-no-padding ion-no-margin">
                            <ion-col size="12" [ngClass]="task.done?'done':'notdone'">
                                {{task.label}}
                            </ion-col>
                        </ion-row>
                        <ion-row class="ion-no-padding ion-no-margin date ion-align-items-center ">
                            <ion-col size="8" [ngClass]="task.done?'ion-no-padding ion-no-margin done':'ion-no-padding ion-no-margin notdone'">
                                <ion-icon size="small" name="flag" [color]="getPriorityColor()"></ion-icon>
                                <ng-template [ngIf]="task.dueDate" >
                                    <ion-icon size="small" name="calendar" color="dark"></ion-icon>
                                    {{task.dueDate | date:'mediumDate'}}
                                </ng-template>
                            </ion-col>
                            <ion-col size="4" class="ion-no-padding ion-no-margin">


                                <mha-profil-data-avatar *ngFor="let owner of task.owners; let last = last"
                                    [profilDataId]="owner.profilDataId"></mha-profil-data-avatar>

                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-item>