<ion-menu contentId="content" (ionWillOpen)="loadAll()">

  <ion-header>
    <ion-toolbar  *ngIf="workspace && profil">
      <ion-title>{{workspace.label}} - {{profil.displayName}}</ion-title>
    </ion-toolbar>
    <ion-toolbar  *ngIf="!workspace || !profil">
      <ion-title>Bienvenue</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>


    <ion-menu-toggle >
      <ion-item lines="none" class="menu-item" routerLink="/menu/home" routerDirection="root" routerLinkActive="homeactive">
        <ion-icon name="home" slot="start" size="small"></ion-icon>
        <ion-label>
          Accueil
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item lines="none" class="menu-item" routerLink="/menu/workspace" routerDirection="root" routerLinkActive="workspacetactive">
        <ion-icon name="business" slot="start" size="small" ></ion-icon>
        <ion-label>
          Changer d'espace
        </ion-label>
      </ion-item>
    </ion-menu-toggle>

    <ion-menu-toggle *ngIf="workspace">
      <ion-item lines="none" class="menu-item" routerLink="/menu/task-project" routerDirection="root" routerLinkActive="taskactive">
        <ion-icon name="checkmark-circle-outline" slot="start" size="small"></ion-icon>
        <ion-label>
          Tâches
        </ion-label>
      </ion-item>
    </ion-menu-toggle>

    <ion-menu-toggle *ngIf="workspace">
      <ion-item lines="none" class="menu-item" routerLink="/menu/wallet" routerDirection="root" routerLinkActive="walletactive">
        <ion-icon name="wallet" slot="start" size="small"></ion-icon>
        <ion-label>
          Porte-Monnaie
        </ion-label>
      </ion-item>
    </ion-menu-toggle>


    <ion-menu-toggle>
      <ion-item  lines="none" class="menu-item" (click)="logout()">
        <ion-icon name="log-out" slot="start" color="primary" size="small"></ion-icon>
        <ion-label>
          Déconnexion
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
    <!-- <div *ngFor="let p of pages">

      
      <ion-menu-toggle *ngIf="p.url">
        <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active" [color]="p.iconColor">
          <ion-icon [name]="p.icon" slot="start" ></ion-icon>
          <ion-label >
            {{ p.title }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
     

      <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.parent-active]="p.open"
        detail="false">
        <ion-icon slot="start" name="arrow-forward" *ngIf="!p.open"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="p.open"></ion-icon>
        <ion-label>{{ p.title }}</ion-label>
      </ion-item>

      
      <ion-list *ngIf="p.open">
        <ion-menu-toggle>
          <ion-item *ngFor="let sub of p.children" class="sub-item" [routerLink]="sub.url" routerDirection="root"
            routerLinkActive="active">
            <ion-icon [name]="sub.icon" slot="start"></ion-icon>
            <ion-label>
              {{ sub.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </div> -->
    
  </ion-content>

</ion-menu>

<ion-router-outlet id="content" main></ion-router-outlet>