<p>
  <ion-radio-group value="{{priority}}">
    <ion-item *ngFor="let radio_priority of radio_priorities;" (ionSelect)="priorityRadioSelect($event)">
        <ion-label>{{radio_priority.name}}</ion-label>
        
        <ion-radio slot="start"   value="{{radio_priority.value}}" ></ion-radio>
        <ion-icon slot="end"  color="{{radio_priority.color}}" name="flag"></ion-icon>
    </ion-item>
</ion-radio-group>
  
</p>
