<ion-header>
  <ion-toolbar>
    <ion-title>
      Bienvenue sur MyHomeActivities !
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!account">
  <span class="hipster"></span>
  <div>
      <ion-button expand="block" routerLink="/login" id="signIn">{{ 'LOGIN' | translate }}</ion-button>

      <!--<p>{{ 'NO_ACCOUNT_MESSAGE' | translate }}</p>
      <ion-button expand="block" routerLink="/signup">{{ 'SIGNUP' | translate }}</ion-button>-->

  </div>
</ion-content>
