<ion-item-sliding #slidingItem>
    <ion-item (click)="openSpent()">
        <ion-grid>
            <ion-row class="ion-align-items-center">
                <ion-col size="8" class="ion-text-start  ion-no-padding  ion-no-margin">
                    {{spent.label}}
                </ion-col>
                <ion-col size="4" class="ion-text-end ion-no-padding">
                    {{spent.amount | currency:'EUR':'symbol-narrow'}}
                </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
                <ion-col size="11" class="ion-no-padding ion-no-margin">
                    <div class="date">{{spent.spentDate | date:'d MMM yy'}}</div>
                </ion-col>
                <ion-col size="1" class="ion-no-padding ion-no-margin">
                    <mha-profil-data-avatar [profilId]="spender.id"></mha-profil-data-avatar>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item-options side="end">
        <ion-item-option (click)="deleteSpentModal(slidingItem)" color="light">
            <ion-icon name="trash" color="danger" size="large"></ion-icon>
        </ion-item-option>

    </ion-item-options>
</ion-item-sliding>