<ion-header>
    <ion-toolbar color="wallet">
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>


        <ion-title *ngIf="wallet">
            {{wallet.label}}
        </ion-title>
    </ion-toolbar>
    <ion-segment color="wallet" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="friends" checked>
            <ion-icon name="paper"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="enemies">
            <ion-icon name="swap"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content>
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button color="wallet" size="small">
            <ion-icon name="more"></ion-icon>

        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color="primary" (click)="goUpdatePage($event)">
                <ion-icon name="create"></ion-icon>
            </ion-fab-button>

        </ion-fab-list>
    </ion-fab>
    <ion-refresher slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>



    <ion-list>
        <ion-item *ngIf="hasModification,else noModif" class="ion-no-padding ion-no-margin ion-align-items-center modif">
            <ion-icon name="sync" size="small" class="icon"></ion-icon>
            <span class="text"> Synchronisation des modifications en glissant vers le</span>
            <ion-icon name="arrow-round-down" size="small" class="icon"></ion-icon>
        </ion-item>
        <ng-template #noModif>
            <ion-item class="nomodif">

            </ion-item>
        </ng-template>

        <div *ngFor="let spent of scrolledSpents; trackBy: trackId" class="ion-no-padding">
            <app-mha-spent-list-item [spent]="spent"></app-mha-spent-list-item>
        </div>
    </ion-list>

    <ion-item *ngIf="!spents?.length">
        <ion-label>
            Aucune dépense trouvée.
        </ion-label>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="newSpent()" color="wallet">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-infinite-scroll threshold="100px" id="infinite-scroll" (ionInfinite)="loadScrolledData($event)">
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Chargement des données...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>