<ion-header>
    <ion-toolbar color="wallet">
        <ion-buttons slot="start">
            <!-- <ion-back-button></ion-back-button> -->
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{wallet?.label}}
        </ion-title>
    </ion-toolbar>
    <ion-segment color="wallet" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="friends">
            <ion-icon name="paper"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="enemies" checked>
            <ion-icon name="swap"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content class="ion-no-padding ion-no-margin">
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button color="wallet" size="small">
            <ion-icon name="more"></ion-icon>

        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color="primary" (click)="goUpdatePage($event)">
                <ion-icon name="create"></ion-icon>
            </ion-fab-button>

        </ion-fab-list>
    </ion-fab>
    <ion-refresher slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>

        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col size="3">

                    </ion-col>
                    <ion-col size="3">
                        <div class="header">Dépenses</div>
                    </ion-col>
                    <ion-col size="3">
                        <div class="header">Dûs</div>
                    </ion-col>
                    <ion-col size="3">
                        <div class="header">Balance</div>
                    </ion-col>
                </ion-row>

                <ion-row *ngFor="let profilSummary of profilSummaries">


                    <ion-col size="3">
                        <ion-chip>
                            <mha-profil-data-avatar [profilId]="profilSummary.profilId">
                            </mha-profil-data-avatar>
                            <ion-label>&nbsp;
                                {{profilSummary.profilName}}
                            </ion-label>
                        </ion-chip>
                    </ion-col>
                    <ion-col class="ion-align-self-center currency" size="3">
                        {{profilSummary.spent | currency:'EUR':'symbol-narrow'}}

                    </ion-col>
                    <ion-col class="ion-align-self-center currency" size="3">
                        {{profilSummary.amount | currency:'EUR':'symbol-narrow'}}

                    </ion-col>
                    <ion-col class="ion-align-self-center currency" size="3">

                        <ion-badge
                            [color]="profilSummary.getBalance()>0?'success': profilSummary.getBalance()<0?'danger' :''">
                            {{profilSummary.getBalance() | currency:'EUR':'symbol-narrow'}}
                        </ion-badge>

                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="3">

                    </ion-col>
                    <ion-col size="3" class="total">
                        {{getTotalSpent() | currency:'EUR':'symbol-narrow'}}
                    </ion-col>
                    <ion-col size="3" class="total">
                        {{getTotalAmount() | currency:'EUR':'symbol-narrow'}}
                    </ion-col>
                    <ion-col size="3" class="total">
                        {{getTotalBalance() | currency:'EUR':'symbol-narrow'}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>

</ion-content>