.avatar {
    width: 20px;
    height: 20px;
    
  }

  ion-avatar  {
    width:100% !important;
    height : 100% !important;
    max-width: 20px !important;  //any size
    max-height: 20px !important; //any size
    margin: 2px;
    } 

    .span-avatar {
      margin: 2px;
    }


    .header {
      font-size: 0.7em;
      text-align: center;
    }
  
  
  .currency {
    text-align: right;
    padding-right: 3px;
    font-size: 0.7em;
  
  }
  
  .total {
    text-align: right;
    padding-right: 3px;
    font-weight: bold;
    font-size: 0.7em;
  }

  .header-block {
    height: 20px;
  }

  .balance-positive {
    color: green;
  }
  .balance-negative {
    color: red;
  }
  
  .modif{
    --background: #fff6d6!important;
    font-size: 0.7em;
    padding: 0px;
    margin: 0px;
    font-style: italic;
    text-align: center;
    width: 100%;
  }

  .icon {
    display: inline-block;
    font-size: 35px;
    vertical-align: middle;
   }
   
   .text{
     display: inline-block;
     vertical-align: middle;
   }
   
  

  .nomodif {
    height: 20px;
  }
  