<ion-header >
  <ion-toolbar color="wallet">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mes porte-Monnaie
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let wallet of wallets; trackBy: trackId" #slidingItem>
      <ion-item (click)="view(wallet)">

        <ion-label class="ion-text-wrap">
          <p>{{wallet.label}}</p>
        </ion-label>
        <span class="span-avatar" *ngFor="let owner of wallet.owners; let last = last" slot="end">
          <mha-profil-data-avatar [profilDataId]="owner.profilDataId"></mha-profil-data-avatar>
        </span>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-item *ngIf="!wallets?.length">
    <ion-label>
      Aucun porte-monnaie trouvé.
    </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" >
    <ion-fab-button (click)="newWallet()" color="wallet">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>