    .header {
      font-size: 0.7em;
      text-align: center;
    }
  
  
  .currency {
    text-align: right;
    padding-right: 3px;
    font-size: 0.7em;
  
  }
  
  .total {
    text-align: right;
    padding-right: 3px;
    font-weight: bold;
    font-size: 0.7em;
  }
  .input {
    --background:rgb(238, 238, 238);
    text-align: right;
    --padding-end: 3px;
  }
  
  