<ion-header>
    <ion-toolbar color="wallet">
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <div *ngIf="spentConfig.id; else elseBlock">Modification de {{spentConfig.label}}</div>
            <ng-template #elseBlock>Nouvelle Configuration</ng-template>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button color="wallet" size="small">
            <ion-icon name="more"></ion-icon>

        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color="danger" (click)="deleteModal()">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>

        </ion-fab-list>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [disabled]="!isReadyToSave" (click)="save()" color="wallet">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Label</ion-label>
                <ion-input type="text" name="label" formControlName="label"></ion-input>
            </ion-item>
            <ion-item hidden="true">
                <ion-input type="hidden" id="field_wallet" formControlName="walletId" readonly></ion-input>
            </ion-item>
            <ion-item>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="8">
    
                            </ion-col>
                            <ion-col size="4">
                                <div class="header">Part(s)</div>
                            </ion-col>
                            
                        </ion-row>
                        <div formArrayName="spentSharingConfigs"
                            *ngFor="let spentSharingConfig of form.get('spentSharingConfigs').controls; let i = index;">
                            <div [formGroupName]="i">
                                <ion-row>
    
                                    <ion-input type="hidden" formControlName="id" readonly></ion-input>
                                    <ion-input type="hidden" formControlName="spentConfigId" readonly></ion-input>
                                    <ion-col size="8">
    
    
                                        <ion-chip>
                                            
                                            <mha-profil-data-avatar
                                                [profilId]="form.controls.spentSharingConfigs.controls[i].controls.profilId.value">
                                            </mha-profil-data-avatar>
                                            <ion-label>&nbsp;
                                                {{form.controls.spentSharingConfigs.controls[i].controls.profilDisplayName.value}}
                                            </ion-label>
    
                                        </ion-chip>
                                    </ion-col>
                                    <ion-col size="4">
                                        <ion-input class="input" type="number" name="share" formControlName="share"
                                            inputmode="numeric" type="number">
                                        </ion-input>
                                    </ion-col>
                                    
                                </ion-row>
                            </div>
                        </div>
                        
                    </ion-grid>
                </ion-item>
        </ion-list>
    </form>

</ion-content>