<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label>
        {{ 'TAB1_TITLE' | translate }}
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="entities">
      <ion-icon name="apps"></ion-icon>
      <ion-label>
        {{ 'TAB2_TITLE' | translate }}
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="send"></ion-icon>
      <ion-label>
        {{ 'TAB3_TITLE' | translate }}
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mha-home">
      <ion-icon name="apps"></ion-icon>
      <ion-label>
        {{ 'TAB4_TITLE' | translate }}
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
