<ion-header>
    <ion-toolbar color="workspace">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Espace de travail
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
    <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-text color="medium">Veuillez selectionner l'espace de travail quand lequel vous souhaitez travailler.
    </ion-text>
    <ion-list>
        <ion-radio-group [value]="selectedWorkspace?.id"> 
                
            <ion-item *ngFor="let workspace of workspaces; trackBy: trackId">
                <ion-item (click)="selectWorkspace(workspace)">
                    <ion-label>
                        {{workspace.label}}
                    </ion-label>
                    <ion-radio slot="start" [value]="workspace.id"></ion-radio>
                </ion-item>
            </ion-item>
        </ion-radio-group>


    </ion-list>
    <ion-item *ngIf="!workspaces?.length">
        <ion-label>
            Aucun espace de travail ne vous est accessible.
        </ion-label>
    </ion-item>

    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="new()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->

</ion-content>