.avatar {
  width: 20px;
  height: 20px;
  float: right;
  //margin: 2px;
}

ion-avatar  {
  width:20px !important;
  height : 20px !important;
  max-width: 20px !important;  //any size
  max-height: 20px !important; //any size
  margin: 2px;
  float: right;
  } 

  .span-avatar {
    margin: 2px;
  }
