<ion-header>
  <ion-toolbar color="home">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Home Activities</ion-title>
    <ion-icon *ngIf="isConnected" size="large" slot="end" name="heart"></ion-icon>
  <ion-icon *ngIf="!isConnected" size="large" slot="end" name="heart-dislike"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-label *ngIf="workspace">
      Bienvenue dans l'espace {{workspace.label}}
    </ion-label>
  </ion-item>
</ion-content>