<ion-item>
<h3>Choisir les participants</h3>
</ion-item>
<ion-item>
  <h4>Participants ajoutés</h4>
</ion-item>
<ion-item>
  <p>
    <ion-chip *ngFor="let profil of profils">
      <mha-profil-data-avatar [profilDataId]="profil.profilDataId"></mha-profil-data-avatar>
      <ion-label class="ion-text-wrap">{{profil.displayName}}</ion-label>
      <ion-icon color="danger" *ngIf="canRemove()" name="close-circle" (click)="removeActor(profil)"></ion-icon>
    </ion-chip>
  </p>
  
</ion-item>
<ion-item *ngIf="!canRemove()">Vous dévez conserver au moins un participant</ion-item>
<ion-item>
  <h4>Participants à ajouter</h4>
</ion-item>
<ion-item>
  <p>
    <ion-chip *ngFor="let profil of availableProfils">
      <mha-profil-data-avatar [profilDataId]="profil.profilDataId"></mha-profil-data-avatar>
      <ion-label class="ion-text-wrap">{{profil.displayName}}</ion-label>
      <ion-icon color="primary" name="add-circle" (click)=" addActor(profil)"></ion-icon>
    </ion-chip>
  </p>
</ion-item>
<ion-item>
  <ion-button slot="end" (click)="close()">Valider</ion-button>
</ion-item>