<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Spent Config
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Label</ion-label>
            <div item-content>
                <span>{{spentConfig.label}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Wallet</ion-label>
            <div item-content *ngIf="spentConfig.walletId">
                <a>{{spentConfig.walletLabel}}</a>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(spentConfig)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(spentConfig)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
