<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Spent Sharing Config
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Share</ion-label>
                <ion-input type="number" name="share" formControlName="share"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Spent Config</ion-label>
                <ion-select id="field_spentConfig" formControlName="spentConfig" [compareWith]="compareSpentConfig" required>
                    <ion-select-option *ngIf="!form.value.spentConfig" [value]="null" selected></ion-select-option>
                    <ion-select-option [value]="spentConfigOption.id" *ngFor="let spentConfigOption of spentConfigs; trackBy: trackSpentConfigById">{{spentConfigOption.label}}</ion-select-option>
                </ion-select>
            </ion-item>
            <div [hidden]="!(form.controls.spentConfig?.dirty && form.controls.spentConfig?.invalid)">
                <small [hidden]="!form.controls.spentConfig?.errors?.required">
                    This field is required.
                </small>
            </div>
            <ion-item>
                <ion-label>Profil</ion-label>
                <ion-select id="field_profil" formControlName="profil" [compareWith]="compareProfil" required>
                    <ion-select-option *ngIf="!form.value.profil" [value]="null" selected></ion-select-option>
                    <ion-select-option [value]="profilOption.id" *ngFor="let profilOption of profils; trackBy: trackProfilById">{{profilOption.displayName}}</ion-select-option>
                </ion-select>
            </ion-item>
            <div [hidden]="!(form.controls.profil?.dirty && form.controls.profil?.invalid)">
                <small [hidden]="!form.controls.profil?.errors?.required">
                    This field is required.
                </small>
            </div>
        </ion-list>
    </form>
</ion-content>
