<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Spent
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Label</ion-label>
            <div item-content>
                <span>{{spent.label}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Description</ion-label>
            <div item-content>
                <span>{{spent.description}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Amount</ion-label>
            <div item-content>
                <span>{{spent.amount}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Spent Date</ion-label>
            <div item-content>
                <span>{{spent.spentDate | date:'mediumDate'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Last Update Date</ion-label>
            <div item-content>
                <span>{{spent.lastUpdateDate | date:'mediumDate'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Confirmed</ion-label>
            <div item-content>
                <span>{{spent.confirmed}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Spender</ion-label>
            <div item-content *ngIf="spent.spenderId">
                <a>{{spent.spenderDisplayName}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Wallet</ion-label>
            <div item-content *ngIf="spent.walletId">
                <a>{{spent.walletLabel}}</a>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(spent)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(spent)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
