<ion-header>
    <ion-toolbar color="wallet">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{spent?.label}}
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button color="wallet" size="small">
            <ion-icon name="more"></ion-icon>

        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color="danger" (click)="deleteModal()">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>

        </ion-fab-list>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [disabled]="!isReadyToSave" (click)="save()" color="wallet">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Libellé</ion-label>
                <ion-input type="text" name="label" formControlName="label"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Description</ion-label>
                <ion-input type="text" name="description" formControlName="description"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Dépense (€)</ion-label>
                <ion-input type="number" name="amount" formControlName="amount" (ionChange)="amountChange($event)">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Date</ion-label>
                <ion-datetime displayFormat="D MMM YYYY" formControlName="spentDate" id="field_spentDate"
                    placeholder="Date de dépense" [monthShortNames]="customMonthShortName">
                </ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Payé par</ion-label>
                <ion-select interface="popover" formControlName="spenderId">
                    <ion-select-option *ngFor="let profil of wallet.owners" [value]="profil.id">
                        {{profil.displayName}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item-divider>
                <ion-label>Répartition</ion-label>
            </ion-item-divider>
            <ion-item>
                <ion-label>Configurations possible</ion-label>
                <ion-select interface="popover" (ionChange)="spentConfigSelected($event)">
                    <ion-select-option *ngFor="let spentConfig of spentConfigs" [value]="spentConfig">{{spentConfig.label}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col size="6">

                        </ion-col>
                        <ion-col size="3">
                            <div class="header">Part(s)</div>
                        </ion-col>
                        <ion-col size="3">
                            <div class="header">Montant(€)</div>
                        </ion-col>
                    </ion-row>
                    <div formArrayName="spentSharings"
                        *ngFor="let spentSharing of form.get('spentSharings').controls; let i = index;">
                        <div [formGroupName]="i">
                            <ion-row>

                                <ion-input type="hidden" formControlName="id" readonly></ion-input>
                                <ion-input type="hidden" formControlName="spentId" readonly></ion-input>
                                <ion-col size="6">


                                    <ion-chip>
                                        <ion-icon
                                            *ngIf="form.controls.spentSharings.controls[i].controls.share.value !== 0"
                                            name="checkmark-circle" color="primary" (click)="resetSpentSharingShare(i)">
                                        </ion-icon>
                                        <ion-icon
                                            *ngIf="form.controls.spentSharings.controls[i].controls.share.value === 0"
                                            name="close-circle" color="danger" (click)="addSpentSharingShare(i)">
                                        </ion-icon>
                                        <mha-profil-data-avatar
                                            [profilId]="form.controls.spentSharings.controls[i].controls.sharingProfilId.value">
                                        </mha-profil-data-avatar>
                                        <ion-label>&nbsp;
                                            {{form.controls.spentSharings.controls[i].controls.sharingProfilDisplayName.value}}
                                        </ion-label>

                                    </ion-chip>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-input class="input" type="number" name="share" formControlName="share"
                                        inputmode="numeric" type="number" (ionChange)="amountSharingChange($event, i)">
                                    </ion-input>
                                </ion-col>
                                <ion-col class="ion-align-self-center" size="3" class="currency">
                                    {{form.controls.spentSharings.controls[i].controls.amountShare.value | currency:'EUR':'symbol-narrow'}}
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                    <ion-row>
                        <ion-col size="6">

                        </ion-col>
                        <ion-col size="3" class="total">
                            <div>{{totalShare}}</div>
                        </ion-col>
                        <ion-col size="3" class="total">
                            <div>{{spent.amount | currency:'EUR':'symbol-narrow'}}</div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </form>
</ion-content>