.header {
    font-size: 0.7em;
    text-align: center;
  }

.input {
  --background:rgb(238, 238, 238);
  text-align: right;
  --padding-end: 3px;
}

.currency {
  text-align: right;
  padding-right: 3px;

}

.total {
  text-align: right;
  padding-right: 3px;
  font-weight: bold;
}