<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Task
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Label</ion-label>
                <ion-input type="text" name="label" formControlName="label"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Description</ion-label>
                <ion-input type="text" name="description" formControlName="description"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Done</ion-label>
                <ion-checkbox formControlName="done"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Due Date</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="dueDate" id="field_dueDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Priority</ion-label>
                <ion-input type="number" name="priority" formControlName="priority"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Task Project</ion-label>
                <ion-select id="field_taskProject" formControlName="taskProjectId" [compareWith]="compareTaskProject">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="taskProjectOption.id" *ngFor="let taskProjectOption of taskProjects; trackBy: trackTaskProjectById">{{taskProjectOption.label}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Owner</ion-label>
                <ion-select id="field_owner" multiple="true" formControlName="owners" [compareWith]="compareProfil">
                    <ion-select-option [value]="profilOption" *ngFor="let profilOption of profils; trackBy: trackProfilById">{{profilOption.id}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
