<ion-header>
    <ion-toolbar color="task">
        <ion-buttons slot="start">
            <!-- <ion-back-button></ion-back-button> -->
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        
        <ion-title *ngIf="taskProject">
            {{taskProject.label}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button color="task" size="small">
            <ion-icon name="more"></ion-icon>

        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color="primary" (click)="goUpdatePage($event)">
                <ion-icon name="create"></ion-icon>
            </ion-fab-button>

        </ion-fab-list>
    </ion-fab>
    <ion-refresher slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <div *ngFor="let task of tasks; trackBy: trackId">
            <app-mha-task-list-item [task]="task"></app-mha-task-list-item>
        </div>
    </ion-list>
    <ion-item *ngIf="!tasks?.length">
        <ion-label>
            Aucune tâche trouvée.
        </ion-label>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="newTask()" color="task">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>