.avatar {
    width: 20px;
    height: 20px;
    
  }

  ion-avatar  {
    width:100% !important;
    height : 100% !important;
    max-width: 20px !important;  //any size
    max-height: 20px !important; //any size
    margin: 2px;
    } 

    .span-avatar {
      margin: 2px;
    }

